@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
body {
  background-color: #0d2033;
}
/* Estilo del header */
header {
  display: flex;
  min-height: 120px;
  background-color: #0a141d;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #efefef;
  background-color: #0d2033;
  border-radius: 10px;
  text-align: center;
  transition: all 300ms ease;
}

nav a {
  font-weight: 300;
  padding-right: 10px;
}

nav a:hover {
  color: aqua;
}

.sinopsis-container {
  height: 50%;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0a141d;
  border-radius: 10px;
}

.titulo-h3 {
  text-align: center;
  font-size: 25px;
  text-decoration-line: underline;
}

.sinopsis-container img {
  width: 400px;
  margin: 10px;
  border-radius: 10px;
}

.sinopsis-container div {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* estilo de segunda seccion del main Personajes */

.titulo-personajes {
  margin: 20px;
  padding: 10px;
  background-color: rgba(165, 163, 163, 0.705);
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  text-decoration-line: underline;
}

.personajes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.tarjeta {
  height: 300px;
  width: 250px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(165, 163, 163, 0.705);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tarjeta .imagen {
  width: 120px;
  border-radius: 50%;
}

.tarjeta .informacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.informacion h3 {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

/* Aqui se estiliza la tercera seccion del main para ver los episodios */

.informacion-capitulos {
  height: 50%;
  padding: 30px;
  margin: 20px;
  display: flex;
  background-color: rgba(165, 163, 163, 0.705);
  border-radius: 10px;
}

.titulo-mira-la-serie {
  font-size: 40px;
  text-decoration-line: underline;
}

.informacion-capitulos div {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.informacion-capitulos img {
  width: 100%;
  border-radius: 10px;
}

/* Aca se encuentra el estilo de la Biografia */

.biografia {
  height: 50%;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(165, 163, 163, 0.705);
  border-radius: 10px;
}

.titulo-biografia {
  font-size: 25px;
  text-align: center;
  text-decoration-line: underline;
}

.biografia div {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.biografia img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
/* Aca se encuentra el footer con las informacion del creador */
.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/* Media Query */

@media (max-width: 880px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }

  .sinopsis-container p {
    font-size: smaller;
  }

  .personajes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .tarjeta {
    width: 40%;
    height: 260px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .tarjeta .imagen {
    width: 120px;
  }

  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

@media (max-width: 480px) {
  .sinopsis-container div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .sinopsis-container p {
    font-size: smaller;
  }

  .personajes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
